.icon {
  font-size: 30px;
  color: #bababa;
}

.title {
}

.icon-wrapper {
  text-align: right;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
}
