.container {
  background-color: white;
  color: black;
  padding: 10px 50px;
  text-align: center;
}

.not-found-icon {
  font-size: 89px;
  line-height: 1;
  margin-bottom: 20px;
}

.not-found-block {
  font-size: 45px;
  line-height: 1;
  margin-bottom: 17px;
}

.not-found-caption {
  font-size: 20px;
  margin-bottom: 35px;
}
