.footer-wrapper {
  background-color: #212121;
  color: #bfbfbf
}

.footer-container {
  padding-top: 60px;
  background-color: inherit;
  margin-top: 0;
}

.copyright-container {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  background-color: #161616;
  border-color: #161616;
  color: #5b5b5b;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}

.section-title {
  color: #dddddd;
  margin-bottom: 25px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  position: relative;

  li {
    padding-left: 25px;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 5px;
    border-bottom-width: 0;

    &:before {
      content: "\f105";
      font-family: FontAwesome;
      text-align: center;
      position: absolute;
      left: 0px;
      display: block;
      height: 20px;
      width: 20px;
      margin-top: -1px;
    }

    a {
      color: #7f7f7f;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    padding-top: 20px;
    margin-top: 0;
  }

  .section-wrapper {
    margin-top: 20px;
  }

  .copyright-note {
    text-align: center;
  }
}
